[phases.setup]
nixPkgs = ["nodejs_22", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm run start"

[variables]
NIXPACKS_NODE_VERSION = "22"
NODE_ENV = "production"
NEXT_PUBLIC_API_URL = "https://api.mecfoodapp.welocalhost.com/api/v1"
